* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: green;
    background-image: url('./images/background.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    width: 100%;
    gap: 20vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btn-fechar {
    margin-top: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: red;
    font-weight: bolder;
    background-size: cover;
    align-self: flex-start;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;

    transition: ease-out 0.3s;
}

.btn-fechar:hover {
    background-color: red;
    color: white;
}

#msg {
    display: none;
    overflow-wrap: normal;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #E0AC69;
    font-size: 1em;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    border-width: 4px;
}



#menu {
    display: inline-block;
    padding: 5px;
    width: 150px;
    font-size: 1em;
    height: 55px;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    cursor: pointer;
    background-color: #E0AC69;
}

#salvar {
    display: inline;
    padding: 5px;
    width: 150px;
    font-size: 1em;
    height: 55px;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    cursor: pointer;
    background-color: #E0AC69;
}

#menu:hover {
    background-color: #dfb988;
}

#salvar:hover {
    background-color: #dfb988;
}

.menuopen {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.418);
    justify-content: center;
    align-items: center;
}

.menuopen2 {
    width: 40vw;
    min-width: 200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-image: url('./images/madeira.jpg');
    background-color: #774232;
    background-size: auto;
    border-style: solid;
    border-color: #a46335;
    border-width: 8px;
    box-shadow: inset -2px -1px 115px 6px rgba(0,0,0,0.75);
}

.menu {
    background-color: #774232;
    display: flex;
    background-image: url('./images/madeira.jpg');
    font-size: 2em;
    top: 0px;
    position: fixed;
    flex-basis: 1000px;
    padding: 10px;
    gap: 20px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    align-self: flex-start;
    justify-content: flex-start;
}

.menu > p {
    margin-left: auto;
    flex-grow: 0;
    display: inline-block;
    padding: 5px;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    background-color: #E0AC69;
}

.branco {
    color: white;
}

.vermelho {
    color: rgb(133, 2, 2);
}

.upgrades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-image: url('./images/madeira.jpg');
    background-color: #774232;
    background-size: auto;
    border-style: solid;
    border-color: #a46335;
    border-width: 8px;
    box-shadow: inset -2px -1px 115px 6px rgba(0,0,0,0.75);
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    flex-shrink: 1;
    align-self: center;
}

.btn {
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-weight: bolder;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    box-shadow: inset 0px 0px 140px -93px rgba(0,0,0,0.75);
    background-color: #E0AC69;
}

.btn:hover {
    background-color: #dfb988;
}

.btn-apple {
    background-image: url('./images/apple.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px;
    align-self: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    flex-shrink: 1;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-apple:active {
    transform: translateY(-5px);
}

.btn-apple:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 892px) {

    body {
        background-image: url('./images/background-phone.png');
    }
    
    .btn-apple {
        margin-top: 50px;
        width: 250px;
        height: 250px;
    }

    #msg {
        font-size: 0.5em;
    }

    #salvar {
        font-size: 0.6em;
        width: 100px;
    }

    #menu {
        font-size: 0.6em;
        width: 100px;
    }

    #qtd {
        font-size: 0.6em;
    }

    main {
        flex-direction: column;
        gap: 0px;
    }

    .btn {
        width: 100px;
        height: 50px;
    }

    .upgrades {
        gap: 10px;
        width: 90vw;
        height: 60vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
}